<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Restaurant - FlyonUI{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ importmap('app') }}
    {% endblock %}
</head>
<body class="bg-base-100">
    {{ include('_partials/_navbar.html.twig') }}
    
    {% block body %}{% endblock %}

    {% block javascripts %}
    {% endblock %}
</body>
</html>